@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Josefin Sans", sans-serif;
}

.heading {
  height: 16.5%;
}
.to-do {
  height: 83.5%;
}
::-webkit-scrollbar {
  margin-bottom: 10px;
  width: 5px;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: rgba(17, 94, 89, 0.7);
}
.data-con > span {
  line-height: 45px;
}
.data-con > div {
  line-height: 25px;
}
.hl {
  position: relative;
}
.hl::after {
  content: "";
  height: 2px;
  width: 235px;
  background-color: gray;
  top: 14px;
  left: -5px;
  position: absolute;
}
/*::-webkit-scrollbar-track {*/
/*  background: #f1f1f1;*/
/*}*/

/*.adding {*/
/*  width: 70%;*/
/*}*/
