* {
  font-family: "Josefin Sans", sans-serif;
}
.heading {
  height: 16.5%;
}
.to-do {
  height: 83.5%;
}
::-webkit-scrollbar {
  margin-bottom: 10px;
  width: 5px;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: rgba(17, 94, 89, 0.7);
}
.data-con > span {
  line-height: 45px;
}
.data-con > div {
  line-height: 25px;
}
